/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

/* ---------------------------------------------------------------------------------------------------- */

/* PRESET CONTENITORI */

.container {
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */

/* HEADER */

header {
    max-width: 100%;
    height: 500px;
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
}

nav {
    padding-top: 10px;
}

.logo-col {
    width: 15%;
    float: left;
}

.button-col {
    width: 70%;
    float: left;
}

.log-in-col {
    width: 15%;
    float: left;
}

.logo-box {
    height: 34px;
}

.button-box {
    margin: 0 auto;
}

.button-list {
    width: 100%;
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    line-height: 34px;
}

.button {
    padding: 5px 5px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.button:hover {
    text-decoration: underline;
}

.log-in-button {
    text-align: center;
    line-height: 34px;
}

.log-in {
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background: white;
}

.log-in:hover {
    color: #265EE8;
    transition: color 300ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.jumbo-section {
    width: 100%;
    height: calc(500px - 54px);
    position: relative;
}

.jumbo-content {
    width: 70%;
    height: 240px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo-content h1 {
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.jumbo-content h2 {
    font-weight: normal;
}

.jumbo-content a {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
}

.download-box {
    margin-top: 40px;
}

#download {
    color: black;
    background: white;
}

#open {
    color: rgb(200, 200, 200);
    background: #23272A;
}

#download:hover {
    color: #265EE8;
    transition: color 300ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#open:hover {
    color: white;
    transition: color 300ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------------------------------------------------------- */

/* MAIN */




