/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

/* ---------------------------------------------------------------------------------------------------- */

/* PRESET CONTENITORI */

.container {
    max-width: 960px;
    margin: 0 auto;
    border: 2px solid red;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */

/* HEADER */

header {
    width: 100%;
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.menu {
    padding-top: 10px;
}

.logo-col {
    width: 15%;
    float: left;
}

.button-col {
    width: 70%;
    float: left;
}

.log-in-col {
    width: 15%;
    float: left;
}

.logo-wrapper {
    height: 34px;
}

.button-wrapper {
    margin: 0 auto;
}

.ul-button {
    width: 100%;
    list-style: none;
    text-align: center;
}

.li-button {
    display: inline-block;
    line-height: 34px;
}

.button {
    padding: 5px 5px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.button:hover {
    text-decoration: underline;
}

.log-in-button {
    text-align: center;
    line-height: 34px;
}

.accedi {
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    background: white;
}

.accedi:hover {
    color: #265EE8;
    transition: color 300ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.jumbo-section {
    max-width: 600px;
    margin: 0 auto;
}

.jumbo-title {
    width: 100%;
    padding-top: 100px;
    text-align: center;
    color: white;
}

.jumbo-title h1 {
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 40px;
}

.jumbo-title h2 {
    font-size: 14px;
    font-weight: bold;
}

.button-box {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}

.big-button-anchor {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
}

#download {
    color: black;
    background: white;
}

#open {
    color: rgb(200, 200, 200);
    background: #23272A;
}

#download:hover {
    color: #265EE8;
    transition: color 300ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#open:hover {
    color: white;
    transition: color 300ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------------------------------------------------------- */

/* MAIN */

main {
    width: 100%;
}

.main-background {
    padding: 80px 0;
    border: 1px solid black;
}

.main-col-1 {
    width: 70%;
    float: left;
}

.main-col-2 {
    width: 30%;
    float: left;
}

.main-image {
    width: 100%;
    height: 300px;
}

.main-content {
    padding-top: 20px;
}

.main-title {
    width: 80%;
    font-size: 30px;
}

.main-description {
    width: 95%;
    padding-top: 20px;
    font-size: 15px;
}





/* to be continued... */